#email{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 200px;
}
#contrasena{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: -5px;
}
#divRecordarUsuario{
    margin-top: -15px;
}
#resetPass{
    margin-bottom: 10px;
}